@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

body {

    background: #121725
    /* background-color:green; */
}

.pagecontainer{
position: absolute;
width: 1275px;
height: 1031px;
margin:165px 1px 0px 165px;
background-image: url("./assets/desktop/image-host.jpg");
background-repeat:no-repeat;
background-position:top right;
    

}

.logotopleft {
position: absolute;
margin-top:-30px;
width: 134.85px;
height: 56px;
top: -20px;
margin-left:-12px;
}

/* .pictureright{
position: absolute;
left: 30.35%;
right: 0%;
top: 0%;
bottom: 0%;
} */

.outcontainer {
position:absolute;
left: 0%;
right: 43.29%;
margin: 0px 2px 130px 165px;
}


.centralsection{
/* font-family: 'Chivo', sans-serif; */
position:absolute;
margin-left:165px;
right: 47.84%;
/* top: 34.22%; */
top:131px;
bottom: 0%;
margin-right:-40px;
margin-top:0px;
width:723px;
height:509px;
background: #121725;
}

.headline {
position: absolute;
left: 0%;
right: 47.84%;
top: 98px;
width:665px;
height:48px;
margin-right:58px;
font-family: 'Chivo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 56px;
/* or 119% */
text-transform: uppercase;
}

.headlinebannertop {
    color:#54E6AF;
}
.headlinebannerbottom {
    color:white;
}

.instructions {
position: absolute;
left: 0%;
width: 445px;
height: 124px;
right: 65.1%;
margin-top:236px;
font-family: 'Chivo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */

color: #C2CBE5;

}

.form3 {
display:flex;
position: absolute;
left: 0%;
right: 66.51%;
width:427px;
height:56px;
margin-top:350px;
background: #2C344B;
border-radius: 28px;
}

.input3 {
width:260px;
font-size:10px;
background: #2C344B;
width:427px;
border-radius: 28px;
font-family: 'Chivo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
padding-left:32px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
}

.submit3{
position: absolute;
left: 0%;
right: 0%;
height:46px;
width:162px;
top: 0%;
bottom: 0%;
background: #54E6AF;
box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
border-radius: 28px;
left: 60.89%;
right: 1.17%;
top: 8.93%;
color: #121725;
}

.logosouter {
display:flex;
justify-content: space-between;
position: absolute;
width:545px;
height:30px;
left: 0%;
right: 57.98%;
bottom: 0%;
left:1px;
}

.ipodlogo2 {
width:99.9px;
height:29.91px;
color:#5A668A;
}

.dots {
position:absolute;
width :232px;
height:103px;
left:1268px;
top:718px;
position:relative;
left:90%;
/* bottom:100px; */
height: 60px;
}

.carousel {
    display: flex;
    height: 200px;
    width: calc(4 * 160px);
    position: relative;
    overflow: hidden;
}

.items {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    transition: left 1.5s;
}

.inner {
    display:flex;
    flex-direction: column;
    background-color:green;
    width: 160px;
}